{% extends "home/base.html" %}
    {% block content %}
        <h3>Wyniki wyszukiwania:</h3>

        {% for item in object_list %}
        <div class="card mt-3">
            <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
            <div class="card-body">
                <h2 class="card-title"><a class="article-title" href="{% url 'detail' item.id %}">{{ item.name }}</a></h2>
                <p class="card-text">{{ item.ingredients|linebreaks }}</p>
                <p class="card-text">{{ item.description|linebreaks }}</p>
                <p class="card-text"><small class="text-muted">{{item.add_date}}</small></p>
            </div>
        </div>
        {% endfor %}
    {% endblock content %}